.categories {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
  margin-top: 32px;
  padding: 0px 24px;
  box-sizing: border-box;
}

.categories__card {
  background-color: var(--color-silver);
  padding: 24px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid var(--color-grey);
  width: calc((100% - 24px * 11) / 6 + 24px);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    width 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__card_error {
  pointer-events: none;
  background: color-mix(in oklab, var(--color-orange) 10%, transparent);
  border: none;
}

.categories__card_loading {
  animation: categories__card_blink 1s infinite alternate ease-in-out 0s;
  border: none;
  pointer-events: none;
}

@keyframes categories__card_blink {
  from {
  }
  to {
    background-color: transparent;
  }
}

.categories__card:hover {
  width: calc((100% - 24px * 11) / 4 + 48px);
  cursor: pointer;
  background: var(--color-white);
  border-color: var(--color-midnight);
}

.categories__img {
  width: calc((100dvw - 24px * 12) / 6 - 24px);
  max-width: calc((1710px - 24px * 12) / 6 - 24px);
}

.categories__text {
  margin-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.categories__title {
  color: var(--color-midnight);
  font-family: var(--font-noto);
  font-size: 16px;
  font-weight: 700;
}

.categories__description {
  color: var(--color-stone);
  font-family: var(--font-noto);
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer__text {
  color: var(--color-stone);
  font-family: var(--font-noto);
  font-size: 16px;
}

.footer__link {
  color: var(--color-stone);
  text-decoration: underline;
  text-decoration-color: var(--color-grey);
  transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
}

.footer__link:hover {
  text-decoration-color: var(--color-midnight);
  color: var(--color-midnight);
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--color-white);
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 24px;
  box-sizing: border-box;
  min-height: calc(100dvh - 107px - 24px);
}

.home-main {
  margin-top: auto;
  margin-bottom: auto;
}

.header_home {
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1367px) {
  .categories__card {
    width: calc((100% - 24px * 3) / 4);
  }

  .categories__card:hover {
    width: calc((100% - 24px * 3) / 4);
  }

  .categories__img {
    width: 100%;
  }
}

@media (max-width: 896px) {
  .categories__card {
    width: calc((100% + 48px) / 3);
    flex-shrink: 0;
  }

  .categories__card:hover {
    width: calc((100% + 48px) / 3);
  }

  .categories {
    overflow-x: scroll;
    justify-content: start;
  }

  .categories_center {
    justify-content: center;
  }
}

@media (max-width: 580.5px) {
  .categories__card {
    width: calc((100% + 48px) / 3 * 2);
  }

  .categories__card:hover {
    width: calc((100% + 48px) / 3 * 2);
  }
}
